body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f0f9ff;
  background-image: radial-gradient(
      circle at 25px 25px,
      #ffd6e0 2%,
      transparent 0%
    ),
    radial-gradient(circle at 75px 75px, #b5e2ff 2%, transparent 0%),
    radial-gradient(circle at 125px 125px, #ffd6e0 2%, transparent 0%),
    radial-gradient(circle at 175px 175px, #b5e2ff 2%, transparent 0%);
  background-size: 200px 200px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes float {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 200px;
  }
}

body {
  animation: float 20s linear infinite;
}
